# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/themes/twentytwentyfive/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

**/.DS_Store

# trellis-database-uploads-migration
database_backup/*
*.sql
*.sql.gz

# WP Redis
web/app/object-cache.php

# Query monitor
web/app/db.php

!screenshot.png

!web/app/plugins/elementor-pro
!web/app/plugins/rey-core
!web/app/plugins/woocommerce-discount-manager
!web/app/plugins/woocommerce-social-login